@charset "UTF-8";


body{
  background-color: #091B52;
}

h1 {
  font-family: 'DotGothic16', sans-serif;
  color: #e0edff;
  text-align:center;
  margin: 30px;
}

h2 {
  font-family: 'DotGothic16', sans-serif;
  color: #e0edff;
  text-align:center;
  margin: 30px;
 }

p {
  font-family: 'DotGothic16', sans-serif;
  color: #e0edff;
  text-align:center;
  font-size: medium;
}

.hyou_text{
  margin: 100px;
}

footer {
  text-align:center;
  margin: 30px;
}

/* 画像 */

img { width: 100%; }

.container img {
  max-width: 1280; 
  width: 100%; 
}

.logo img {
  width: 300px;
}

.logo{
  text-align:center;
}

.oimo{
  text-align:center;
}

.oimo img { 
  max-width: 1280px; 
}

.yoro{
  display:flex;
  flex-wrap: wrap;
	gap: 20px;
  justify-content: center;
}

.yoro img {
      max-width: 650px;
      background:#111; 
      width: 100%;
      height: 100%;
  }

.yoro img:hover{
  opacity:0.5;
	transition:0.3s;
}

.me {
  display:flex;
  flex-wrap: wrap;
	gap: 20px;
  justify-content: center;
}

.me img{
  max-width: 200px;
}

/*タブ切り替え全体のスタイル*/
.hyou {
  max-width: 1280px;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  font-family: 'DotGothic16', sans-serif;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 40px;
  clear: both;
  overflow: hidden;
  background-color: #2A4C91;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.tab_content_description {
  max-width: 200px;
  display:flex;
  flex-wrap: wrap;
	gap: 20px;
  justify-content: center;
}