@charset "UTF-8";

h1 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}

h2 {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
}

h2:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}